html {
    background-color:  white;
}

@import url('https://fonts.googleapis.com/css?family=Karma|Roboto:300');

.textbody {
    background-color: rgb(0, 52, 102);
    padding: 20px;
    color: white;    
}

.contentbox {
    margin-top: 40px;
    border-radius: 20px 20px 0px 0px;
}

.topbox {
    border-bottom: solid 20px #E9AA00;
}

.imageframe {
    background-color: #E9AA00;
    float: right !important;
    display: inline-block;
    padding-top: 6px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: auto;
    height: 100%;

}

#checkbtn {
    margin-right: 0 !important;
    height: 35px !important;
    position: absolute;
    bottom: 6px;
    right: 6px;
}
h1 {
    font-family: 'Karma', sans-serif !important;
    font-size: 4rem !important;
}

h2 {
    font-family: 'Roboto', sans-serif !important;
    font-size: 2.3em !important;
    font-weight: 300;
}

h3 {
    font-family: 'Karma', sans-serif !important;
    font-size: 1.8rem !important;
}

h4 {
    font-family: 'Karma', sans-serif !important;
    font-weight: 700;
    font-size: 1.4rem;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}
.carousel {
    overflow: hidden;
    border-bottom: solid 10px  rgb(0, 52, 102);
}

.carousel-item {
    max-height: 500px;
}

.carousel-caption {
    position: absolute;
    z-index: 1;
    display: table;
    width: 100%;
    height: 150px;
}

.carousel-caption div {
    display:table-cell;
    vertical-align: middle;
    text-align:center;
}

.navposition {
    margin: 0 auto; 
    position: relative;
}
.centerposition {
    position: fixed;
    top: 50%; // 50% for perfect centering
    left: 50%;
    transform: translate(-15%, -50%);
}

.carousel-caption-text {
    font-size: 3rem;
    font-family: 'Karma', sans-serif !important;
    font-weight: 100;
    color: white;
    text-shadow: 1px 1px 0px rgb(0, 52, 102)
}

.btn1 {
    background-color: rgb(0, 52, 102) !important;
    width: 150px;
    height: 50px;
    border: transparent !important;
    color: white !important;
    font-family: 'Karma', sans-serif !important;
}

.btn1:hover {
    background-color: #E9AA00 !important;
}

.navbar {
    background-color: #E9AA00;
    border-bottom: solid 2px rgb(0, 52, 102);
    text-decoration: none;
}

.findme {
    color: #FFE4B2 !important;
}

.activenav {
    text-decoration: none !important;
    font-weight: bold;
    color: rgb(0, 52, 102) !important;
}

a {
    text-decoration: none !important;
    color: white !important;
}
a:hover {
    text-decoration: none !important;
}

.navbar-brand {
    margin-right: 50px !important;
}
.nav-item {
    margin-left: 20px;
    color: white !important;
}

.nav-icon {
    margin-top: -7px;
    margin-left: 5px;
}

.boxleft {
    width: 90%;
    height: 300px;
    padding: 50px;
    margin: 40px auto;
    background-color: #E9AA00;
    border-radius: 20px 20px 0px 0px ;
    color: white;
    border-bottom: solid 20px rgb(0, 52, 102);
}

.boxright {
    text-align: right;
    width: 90%;
    height: 300px;
    padding: 50px;
    margin: 40px auto;
    background-color: #E9AA00;
    border-radius: 20px 20px 0px 0px ;
    color: white;
    border-bottom: solid 20px rgb(0, 52, 102);
}

.box {
    width: 60%;
    height: 800px;
    padding: 50px;
    margin: 40px auto;
    background-color: #E9AA00;
    border-radius: 20px 20px 0px 0px ;
    color: white;
    border-bottom: solid 20px rgb(0, 52, 102);
}

.footer {
    width: 100%;
    height: 150px;
    background-color: #e9aa00;
    color: white;
    text-align: center;
    padding: 40px;
    margin-top: 40px;
}

/* CHECK BOX CSS*/

/* The container */
.checkblock {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 3px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    /* Hide the browser's default checkbox */
    .checkblock input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 19px;
    width: 19px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #E9AA00;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkblock input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkblock .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.card {
    position: relative;
    margin-left: 30%;
}

.card .card-body {
    background-color: rgb(0, 52, 102);
    color: white;
    font-family: 'Roboto', sans-serif !important;

}

.card-img-top {
    max-height: 250px;
    width: auto !important;
    border-bottom: 5px solid #E9AA00;
}

.btn3 {
    background-color: rgb(0, 52, 102) !important;
    width: 200px;
    height: 50px;
    border: transparent !important;
    color: white !important;
    font-family: 'Karma', sans-serif !important;
    margin-bottom: 15px;
    margin-left: 40%;
}